<div id="about" class="container py-5">
    <div class="about-container py-5">
        <div class="about-img d-flex justify-content-center align-items-center">
            <img src="../../../assets/hero.png" class="heroimg" alt="profile photo">
        </div>
        <div>
            <div>
                <h3 class="poppins-bold">About Me.</h3>
                <h4 class="poppins-regular about-desc text-secondary mb-4">SOFTWARE DEVELOPER</h4>
                <p class="poppins-regular text-secondary">Hello, I am <b>Kaushal Shah</b>, a passionate software developer with over 2 years of experience in full-stack development. My journey in programming began with HTML, CSS, and JavaScript, and has since evolved to include expertise in technologies like TypeScript, Angular, Vue.js, and .NET Core. I'm dedicated to continually expanding my skills and recently embarked on a journey to learn Python.
                <br> <br>
                Outside of coding, I'm an avid learner and enjoy staying updated with the latest trends in technology. I'm enthusiastic about problem-solving and leveraging technology to create efficient and innovative solutions. When I'm not immersed in coding, you can find me exploring new hobbies, reading, or connecting with like-minded individuals in the tech community.</p>
            </div>
            <div class="my-5">
                <div class="my-4 position-relative">
                    <div class="w-100 skill skill-90 border rounded px-3">
                        <h5 class="mb-0 poppins-regular py-1 skill-font position-relative text-white">HTML</h5>
                    </div>
                </div>
                <div class="my-4 position-relative">
                    <div class="w-100 skill skill-90 border rounded px-3">
                        <h5 class="mb-0 poppins-regular py-1 skill-font position-relative text-white">CSS</h5>
                    </div>
                </div>
                <div class="my-4 position-relative">
                    <div class="w-100 skill skill-80 border rounded px-3">
                        <h5 class="mb-0 poppins-regular py-1 skill-font position-relative text-white">Bootstrap</h5>
                    </div>
                </div>
                <div class="my-4 position-relative">
                    <div class="w-100 skill skill-90 border rounded px-3">
                        <h5 class="mb-0 poppins-regular py-1 skill-font position-relative text-white">Angular</h5>
                    </div>
                </div>
                <div class="my-4 position-relative">
                    <div class="w-100 skill skill-60 border rounded px-3">
                        <h5 class="mb-0 poppins-regular py-1 skill-font position-relative text-white">Vue.js</h5>
                    </div>
                </div>
                <div class="my-4 position-relative">
                    <div class="w-100 skill skill-70 border rounded px-3">
                        <h5 class="mb-0 poppins-regular py-1 skill-font position-relative text-white">.Net Core</h5>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-download px-4 py-2 poppins-medium" (click)="openurl('https://drive.google.com/file/d/1vg9kj05wmLxqDG6lAevBPejAqj9b03Sj/view?usp=sharing')">Download C.V</button>
                <button class="btn btn-outline-download px-4 py-2 poppins-medium mx-2" (click)="openurl('tel:+919974442525')">Hire Me</button>
            </div>
        </div>
    </div>
</div>

<app-experience></app-experience>

<!-- <div id="services" class="bg-accent">
    <div class="container py-5">
        <div class="text-center py-5">
            <h3 class="service-text poppins-bold">Services.</h3>
        </div>
        <div class="grid g-3 gap-4">
            <div class="bg-white p-5 text-center shadow">
                <div class="d-flex justify-content-center" style="padding-bottom: 10px;">
                    <div class="border bg-accent rounded-circle p-3">
                        <img src="../../../assets/icons/laptop.png" width="40px" alt="">
                    </div>
                </div>
                <h4>Web Design</h4>
                <p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
            </div>
            <div class="bg-white p-5 text-center shadow">
                <div class="d-flex justify-content-center" style="padding-bottom: 10px;">
                    <div class="border bg-accent rounded-circle p-3">
                        <img src="../../../assets/icons/laptop.png" width="40px" alt="">
                    </div>
                </div>
                <h4>Web Design</h4>
                <p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
            </div>
            <div class="bg-white p-5 text-center shadow">
                <div class="d-flex justify-content-center" style="padding-bottom: 10px;">
                    <div class="border bg-accent rounded-circle p-3">
                        <img src="../../../assets/icons/laptop.png" width="40px" alt="">
                    </div>
                </div>
                <h4>Web Design</h4>
                <p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
            </div>
            <div class="bg-white p-5 text-center shadow">
                <div class="d-flex justify-content-center" style="padding-bottom: 10px;">
                    <div class="border bg-accent rounded-circle p-3">
                        <img src="../../../assets/icons/laptop.png" width="40px" alt="">
                    </div>
                </div>
                <h4>Web Design</h4>
                <p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
            </div>
            <div class="bg-white p-5 text-center shadow">
                <div class="d-flex justify-content-center" style="padding-bottom: 10px;">
                    <div class="border bg-accent rounded-circle p-3">
                        <img src="../../../assets/icons/laptop.png" width="40px" alt="">
                    </div>
                </div>
                <h4>Web Design</h4>
                <p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
            </div>
            <div class="bg-white p-5 text-center shadow">
                <div class="d-flex justify-content-center" style="padding-bottom: 10px;">
                    <div class="border bg-accent rounded-circle p-3">
                        <img src="../../../assets/icons/laptop.png" width="40px" alt="">
                    </div>
                </div>
                <h4>Web Design</h4>
                <p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
            </div>
        </div>
    </div>
</div> -->