<div class="sticky top-0 z-50 bg-white shadow-md">
  <div class="container mx-auto py-3 px-4 sm:px-6">
    <div class="flex justify-between items-center">
      <div>
        <h4 class="text-lg sm:text-xl font-bold font-poppins text-gray-800">
          KAUSHAL SHAH
        </h4>
      </div>
      <div class="flex items-center">
        <div class="flex space-x-4 sm:space-x-8">
          <h5
            class="text-sm sm:text-base text-gray-700 hover:text-indigo-600 transition-colors cursor-pointer font-medium font-poppins"
            (click)="ScrollIntoView('#about')"
          >
            About
          </h5>
          <h5
            class="text-sm sm:text-base text-gray-700 hover:text-indigo-600 transition-colors cursor-pointer font-medium font-poppins"
            (click)="ScrollIntoView('#projects')"
          >
            Projects
          </h5>
          <h5
            class="text-sm sm:text-base text-gray-700 hover:text-indigo-600 transition-colors cursor-pointer font-medium font-poppins"
            (click)="ScrollIntoView('#experience')"
          >
            Experience
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
