<div class="position-relative" id="hero">
    <div class="hero-sec d-flex align-items-center justify-content-center">
        <div class="text-center text-white position-relative">
            <div>
                <h1 class="poppins-bold hero-text">Hello</h1>
            </div>
            <div>
                <!-- <h1>I am Kaushal Shah</h1> -->
                <h1><span class="poppins-extralight">I Am </span> <span class="poppins-medium">{{typewriter_display}}</span></h1>
            </div>
        </div>
    </div>
</div>