<div id="projects" class="container py-5">
    <div class="py-5">
        <div class="text-center" style="margin-bottom: 30px;">
            <h2 class="poppins-bold">Project.</h2>
        </div>
        <div class="my-4">
            <div class="d-grid grid-21 align-items-center gap-5">
                <div>
                    <h4 class="mb-3 poppins-bold">Pay Your Share</h4>
                    <p>Pay Your Share is an innovative web application designed to simplify group payments and streamline the process of sharing expenses with friends and family. With its intuitive interface and seamless integration of the MEAN stack (MongoDB, Express, Angular, Node.js), Pay Your Share offers users a convenient platform to create groups, split payments, and track dues effortlessly. Say goodbye to the hassle of manual calculations and enjoy a hassle-free payment sharing experience with Pay Your Share.</p>
                    
                    <h5 class="mb-3 mt-4 poppins-bold">Technology Used:</h5>
                    <p class="mb-1">
                        <span class="poppins-bold">Frontend: </span>
                        <span>HTML, CSS, Bootstrap, Angular</span>
                    </p>
                    <p class="mb-1">
                        <span class="poppins-bold">Backend: </span>
                        <span>Node.Js, Express.Js</span>
                    </p>
                    <p class="mb-1">
                        <span class="poppins-bold">Database: </span>
                        <span>MongoDB</span>
                    </p>
                    <p class="mb-1">
                        <span class="poppins-bold">Authentication: </span>
                        <span>Google Authentication</span>
                    </p>
                    <p class="mb-1">
                        <span class="poppins-bold">Deployment: </span>
                        <span>AWS Amplify</span>
                    </p>
                    <p class="mb-1">
                        <span class="poppins-bold">Repository: </span>
                        <span>
                            <a href="https://github.com/kaushalshah750/Pay-Your-Shares/tree/Node_Project" target="_blank">Github</a>
                        </span>
                    </p>
                    <p class="mb-1">
                        <span class="poppins-bold">Live: </span>
                        <span>
                            <a href="https://payyourshare.mrkaushalshah.com/" target="_blank">Pay Your Share</a>
                        </span>
                    </p>


                </div>
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/projects/Pay Your Share/logo-nobg.png" class="project-logo" alt="">
                </div>
            </div>
        </div>
    </div>
</div>