<div id="experience" class="py-5">
    <div class="experience-container container">
        <div class="text-center py-4">
            <h3 class="poppins-bold">Experience. 2 Years 3 Months</h3>
        </div>
        <div class="experience-detail grid g-214 my-4 gap-4">
            <div class="w-100 experience-designation d-flex justify-content-end">
                <h4 class="poppins-regular designation text-secondary mb-4">SOFTWARE DEVELOPER</h4>
            </div>
            <div class="experience-num d-flex justify-content-center">
                <div class="poppins-regular text-secondary">2<sup>nd</sup></div>
            </div>
            <div>
                <h3 class="company mb-1 poppins-regular text-secondary">Xperate Systems Pvt. Ltd.</h3>
                <h4 class="address mb-1 poppins-regular text-secondary">Pune, Maharashtra</h4>
                <h4 class="experience-txt poppins-regular text-secondary">December 2022 - Present ({{calculateYearAndMonthDifference().years}} Year {{calculateYearAndMonthDifference().months}} Month)</h4>

                <div class="my-4">
                    <ul>
                        <li><b>E-Quote System:</b> Created a form to collect client data, generate invoices, and store information
                        in a database. Developed an admin panel for processing invoices, checking duplicates, managing
                        clients, and approving invoices.</li>
                        <br>
                        <li><b>Payment Posting and Approval:</b> Built a custom, role-based admin system where employees
                        submit invoice slips for manager approval. Implemented Windows Authentication and designed
                        features based on user roles.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience-detail grid g-214 my-4 gap-4">
            <div class="experience-designation w-100 d-flex justify-content-end">
                <h4 class="poppins-regular designation text-secondary mb-4">SOFTWARE DEVELOPER</h4>
            </div>
            <div class="experience-num d-flex justify-content-center">
                <div class="poppins-regular text-secondary">1<sup>st</sup></div>
            </div>
            <div>
                <h3 class="company mb-1 poppins-regular text-secondary">Siddhatech Software Services Pvt. Ltd.</h3>
                <h4 class="address mb-1 poppins-regular text-secondary">Pune, Maharashtra</h4>
                <h4 class="experience-txt poppins-regular text-secondary">October 2021 - December 2022 (1 Year 2 Month)</h4>

                <div class="my-4">
                    <ul>
                        <li><b>Cargo Shipping:</b> Frontend development with Angular and Cypress automation testing.</li>
                        <br>
                        <li><b>HRMS Software:</b> Designed UI in Figma and developed with Vue.js. Features include employee management, timesheets, asset management, and project management.</li>
                        <br>
                        <li><b>Finance:</b> Migrated and optimized code from AngularJS to Vue.js, improving project structure and performance.</li>
                        <br>
                        <li><b>Loan & Banking:</b> Designed and developed UI in Vue.js, integrating with backend APIs for loan management based on company invoices.</li>
                        <br>
                        <li><b>Online Education Course:</b> Made UI changes and modifications in WordPress.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>