/* You can add global styles to this file, and also import other style files */

@import './custom-theme.scss';
@import './custom-format.scss';

.grid{
    display: grid !important;
}

.pointer{
    cursor: pointer;
}

.bg-primary{
    background-color: $primary
}

.bg-secondary{
    background-color: $secondary
}

.bg-accent{
    background-color: $accent
}

.text-primary{
    color: $primary
}

.text-secondary{
    color: $secondary
}

.g-214{
    grid-template-columns: 2fr 1fr 4fr !important;
}

.g-2{
    grid-template-columns: 1fr 1fr !important;
}

.g-3{
    grid-template-columns: 1fr 1fr 1fr !important;
}

.g-5{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
}

.gap30{
    gap: 30px;
}

.br30{
    border-radius: 30px;
}

@media screen and (max-width: 480px) {
    .g-5{
        grid-template-columns: 1fr 1fr !important;
    }
}